.rbc-allday-cell {
  display: none;
}

.rbc-time-slot {
 heigth: 30px
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #e0e0e0;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #cfcfcf;
}

.dark-theme span {
  color: #fff
}

.dark-theme .rbc-time-content {
  border-top: 2px solid #666363;
}


.dark-theme .rbc-time-view {
  border: 1px solid #666363;
}


.dark-theme .rbc-active{
  color: #1a1a1a;
}

.dark-theme .rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #666363;
}

.dark-theme .rbc-timeslot-group {
  border-bottom: 1px solid #4d4c4c;
}

.dark-theme .rbc-day-bg {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark-theme .rbc-today {
  background-color: #2c3e50;
}

.dark-theme .rbc-off-range-bg {
  background-color: #2c2c2c;
}

.dark-theme .rbc-header {
  background-color: #333333;
  color: #ffffff;
}

